{% extends "feed/layout.html" %}
 {% load static %} {% block searchform %}

<form
  class="form-inline my-2 my-lg-0 ml-5"
  action="{% url 'search_users' %}"
  method="get"
>
  <input name="q" type="text" placeholder="Search users.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form>
{% endblock searchform %} {% block content %}
<br></br>

<div class="main-content">
  <br></br>
  <div class="container mt-7">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-9 col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
 

      <fieldset class="border bg-white">
        <p style="text-align:center; font-size: 30px"><u>{{ u }}</u></p>
       
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <a href="{{ u.profile.image.url }}">
              <img
                src="{{ u.profile.image.url }}"
                class="rounded-circle"
                width="160px"
                height="160px"
              />
            </a>
            <br></br>
            <div
            class="d-block d-sm-none card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          ></div>
          </div>
          <br>
 
       <div class="col-sm-4">

    		<p class="text-muted mb-0" style="font-size: 12px">First Name :</p>
	  		<p>{{ u.profile.first_name }}</p>
    		<p class="text-muted mb-0" style="font-size: 12px">Last Name :</p>
	  		<p>{{ u.profile.last_name }}</p>	  		
	  		<p class="text-muted mb-0" style="font-size: 12px">Email :</p>
	  		<p style="text-align:center;">{{ u.email }} </p>

        </div>
        <div
        class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
      ></div>
          <div class="col-sm-4">

	  		<p class="text-muted mb-0" style="font-size: 12px">About Me :</p>
	  		<p>{{ u.profile.bio }} </p>
	  		<br>
	  		<p class="text-muted mb-0" style="font-size: 12px">Description :</p>
	  		<p>{{ u.profile.description }} </p>
	  		<br>
	  		<p class="text-muted mb-0" style="font-size: 12px">Interests :</p>
	  		<p>{{ u.profile.interests }} </p>
        </fieldset>
        </div>
      <p></p>

          </div>
          </div>
<div class="container">
<div class="row">
     <div class="col-4">
    </div>
     <div class="col-8">
    
            <a href="{% url 'edit_profile' %}" style="border-width: 2px; margin: 10px;" class="btn btn-primary active" role="button" aria-pressed="true"> Update Profle </a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Launch demo modal
            </button>
            <a href="/password_reset" style="border-width: 2px; margin: 10px;" class="btn btn-primary active" role="button" aria-pressed="true">Change Password</a>  

            <a href="/base" style="border-width: 2px; margin: 10px;" class="btn btn-primary active" role="button" aria-pressed="true"> Comment List </a>


	  		</div>
	  		</div>
	  		</div>
	  		

    <p>      </p>
    <p>      </p>       
        
        
    </div>
  
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <a href="{% url 'edit_profile' %}" style="border-width: 2px; margin: 10px;" class="btn btn-primary active" role="button" aria-pressed="true"> Update Profle </a>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

























<div class="main-content">
  <div class="container mt-7">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-9 col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-md-2 col-lg-4 order-lg-2">
              <div class="card-profile-image">
                <a href="{{ u.profile.image.url }}">
                  <img
                    src="{{ u.profile.image.url }}"
                    class="rounded-circle"
                    width="160px"
                    height="160px"
                  />
                </a>
              </div>
            </div>
            <div class="col-lg-3 order-lg-3">
              <p>Name : {{ u.profile.first_name }} {{ u.profile.last_name }}</p>
              <p>About Me : {{ u.profile.bio }}</p>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          ></div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div
                  class="card-profile-stats d-flex justify-content-center mt-md-5"
                >
                  <div>
                    <span class="heading">{{ u.profile.friends.count }}</span>
                    {% if request.user == u %}
                    <span class="description"
                      ><a href="{% url 'friend_list' %}">Friends</a></span
                    >
                    {% else %}
                    <span class="description">Friends</span>
                    {% endif %}
                    <span class="heading">{{ post_count }}</span>
                    <span class="description"
                      ><a href="{% url 'user-posts' u.username %}"
                        >Posts</a
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>{{ u }}</h3>
              <p>Interests : {{ u.profile.interests }}</p>
              <p>Description : {{ u.profile.description }}</p>
              <hr class="my-2" />
              {% if request.user == u %}
              <a class="btn btn-info" href="{% url 'edit_profile' %}"
                >Edit Profile</a
              >
              {% else %} {% if button_status == 'not_friend' %}
              <small
                ><a
                  class="btn btn-primary"
                  href="/users/friend-request/send/{{ u.id }}"
                  >Add Friend</a
                ></small
              >
              {% elif button_status == 'friend_request_sent' %}
              <small
                ><a
                  class="btn btn-warning"
                  href="/users/friend-request/cancel/{{ u.id }}"
                  >Cancel Request</a
                ></small
              >
              {% elif button_status == 'friend_request_received' %}
              <small
                ><a
                  class="btn btn-success mr-2"
                  href="/users/friend-request/accept/{{ u.id }}"
                  >Accept Request</a
                ></small
              >
              <small
                ><a
                  class="btn btn-danger"
                  href="/users/friend-request/delete/{{ u.id }}"
                  >Reject Request</a
                ></small
              >
              {% else %}
              <small
                ><a
                  class="btn btn-danger"
                  href="/users/friend/delete/{{ u.id }}"
                  >UnFriend</a
                ></small
              >
              {% endif %} {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    {% if request.user == u %}
    <div class="row">
      <div class="col-md-6">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2>Friend Requests Sent ({{ sent_friend_requests.count }})</h2>
            <hr class="my-2" />
            {% if not sent_friend_requests %}
            <h5><i>No sent requests!</i></h5>
            {% else %} {% for s_request in sent_friend_requests %}
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"
              ><img
                src="{{ s_request.to_user.profile.image.url }}"
                class="rounded mr-2"
                width="40"
                height="40"
                alt=""
            /></a>
            <a href="{{ s_request.to_user.profile.get_absolute_url }}"
              ><b>{{ s_request.to_user.username }}</b></a
            >
            <small class="float-right">
              <a
                class="btn btn-warning mr-2"
                href="{% url 'cancel_friend_request' s_request.to_user.id %}"
                >Cancel</a
              >
            </small>
            <br /><br />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h2>Friend Requests Recieved ({{ rec_friend_requests.count }})</h2>
            <hr class="my-2" />
            {% if not rec_friend_requests %}
            <h5><i>No recieved requests!</i></h5>
            {% else %} {% for r_request in rec_friend_requests %}
            <a href="{{ r_request.from_user.profile.get_absolute_url }}"
              ><img
                src="{{ r_request.from_user.profile.image.url }}"
                class="rounded mr-2"
                width="40"
                height="40"
                alt=""
            /></a>
            <a
              class="mr-2 align-middle"
              href="{{ r_request.from_user.profile.get_absolute_url }}"
              ><b>{{ r_request.from_user.username }}</b>
            </a>
            <small class="float-right">
              <a
                class="btn btn-success mr-2"
                href="/users/friend-request/accept/{{ r_request.from_user.id }}"
                >Accept</a
              >
              <a
                class="btn btn-danger"
                href="/users/friend-request/delete/{{ r_request.from_user.id }}"
                >Reject</a
              >
            </small>
            <br /><br />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}