{% extends "feed/layout.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% static 'emoji-picker-panel.css' %}
<head>
    <meta charset="utf-8mb4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="https://cdn.tiny.cloud/1/7op7nw7ux5rjy9gv3rjft1amkh0pv6rg3qsbh1whmqsjd9tj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>


<script>
  tinymce.init({
    cleanup: true,
    entity_encoding: 'raw',
    selector: 'textarea',
    menubar: false,
    force_br_newlines : false,
    force_p_newlines : false,
    format_empty_lines : true,
    forced_root_block:false,
    remove_linebreaks:true,
    paragraph_breaks:true,
    entity_encoding:'raw',
    plugins: 'emoticons advlist link image lists',
    toolbar: 'emoticons undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent',
    emoticons_database: 'emojis'
  });
</script>
</head>

<br></br>


   <br></br>   
<div class="jumbotron">
<u>Edit Entry : 
    <a class="text-dark text-capitalize"  href="{% url 'blog:topic' topic.id %}">{{ topic }}</a></u>
    <p></p>
    
    <div class="col-xs-6">
    <form class="container-fluid" action="{% url 'blog:edit_entry' entry.id %}" method='post'>
      {% csrf_token %}
      {{ form|crispy }}
      <button name="submit">Save changes</button>
      
    
      
    </form>
    </div>
    </div>
  </div>
    <div class="d-none d-md-block">
      <br></br>
      <br></br>
      <br></br>
      <br></br>

    </div>
{% endblock content %}

