{% extends "feed/layout.html" %}


{% load crispy_forms_tags %}

{% block content %}

<br></br>


   <br></br>   
<div class="jumbotron">
<u>Edit Entry : 
    <a class="text-dark text-capitalize"  href="{% url 'blog:topic' topic.id %}">{{ topic }}</a></u>
    <p></p>
    
    <div class="col-xs-6">
    <form class="container-fluid" action="{% url 'blog:edit_entry' entry.id %}" method='post'>
      {% csrf_token %}
      {{ form|crispy }}
      <button name="submit">Save changes</button>
      
    
      
    </form>
    </div>
    </div>
  </div>
    <div class="d-none d-md-block">
      <br></br>
      <br></br>
      <br></br>
      <br></br>

    </div>
{% endblock content %}

