{% extends "feed/layout.html" %}




{% block content %}

<br>
<br>
<br>
<br> 
<br>
 
 
<div class="jumbotron">
  <h1 style="text-align:center;">   
        <h3><u class="text-capitalize">{{ topic }}</u></h3>
 



  <p>
    <a class="text-dark" href="{% url 'blog:new_entry' topic.id %}">Add New Entry</a>
  </p>
  <ul>
  {% for entry in entries %}
    <div class="accordion body" id="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
            <p class="text-dark">{{ entry.date_added|date:'M d, Y H:i' }}
            
          </button>
        </h2>
         

        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body"><p>{{ entry.text|linebreaks }}</p></div>

        </div>
      </div>
      
          <p><a class="text-dark"  href="{% url 'blog:edit_entry' entry.id %}"> Edit Entry </a>-        -<a class="text-dark"  href="{% url 'blog:delete_entry' entry.id %}">  Delete Entry</a>     

     
   
  {% empty %}
    <li>There are no entries for this topic yet.</li>
  {% endfor %}
     </div>
    </div></ul>
  


</div>
<div class="d-none d-md-block">
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
</div>

{% endblock content %}