{% extends "feed/layout.html" %}




{% block content %}

<br></br>
<br></br>


<div class="jumbotron">
 
  <h1 style="text-align:center;">Personal Log</h1>
  <hr class="my-4">
    <u><a class="text-dark" href="{% url 'blog:new_topic' %}"><p style="text-align:center;" class="font-weight-bold text-dark">Add a New Topic</p></a></u>
    <br>
    <ul>
      {% for topic in topics %}
    <ul class="bi bi-vector-pen" style="font-size: 1.25rem;">      
      <a style="text-align:center;" href="{% url 'blog:topic' topic.id %}">{{ topic }}</a>
      <p>
    </ul>
      {% empty %}
    <li>No topics have been added yet.</li>
      {% endfor %}
    </ul>
  </div>
  <div class="d-none d-md-block">
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>

</div>
{% endblock content %} 